.subjudul{
    margin-top: 300px;
    text-align: right;
    font-size: 16pt;
    font-family: Oswald;
    font-weight: 800;
    text-transform: uppercase;
    padding-right: 250px;   
}
.h6{
    font-size: 11pt;
    margin-bottom: -100px;
}
.company{
    margin-top: 100px;
    margin-bottom: 100px;
    padding-left: 40px; 
}
.palingkanan{
    margin-top: 100px;
    padding-right: 20px;
}