.special-title{
    font-size: 3em;
    top: 50px;
    right: 0px;
  }
.scp{
    margin-top: 100px;
    font-size: 16pt;
    font-family: Oswald;
    font-weight: 800;
    text-transform: uppercase;
    padding-left: 250px;   
}
.h6{
    font-size: 11pt;
    margin-bottom: -100px;
}

.special_content{
   padding-top: 200px;
    margin-bottom: 20px;
    padding-left: 100px; 
}
.gambarkanan{
    margin-top: 100px;
    padding-right: 50px;
}
.bg-special {
    margin-top: -50px;
    margin-left: 100px;
    background-color: #ec9700;
    background-image: url('../img/bg_specials.png');
    background-repeat: no-repeat;
}