.subjuduldua{
    margin-top: 100px;
    font-size: 16pt;
    font-family: Oswald;
    font-weight: 800;
    text-transform: uppercase;
    padding-left: 250px;   
}
.work-title{
    font-size: 3em;
    top: 50px;
    right: 0px;
  }
.h6{
    font-size: 11pt;
    margin-bottom: -100px;
}

.work{
    padding-top: 200px;
    margin-top: -50px;
    margin-bottom: 20px;
    padding-left: 100px; 
}
.space{
    padding-bottom: 30px;
}
.gambarkanan{
    margin-top: 100px;
    padding-right: 50px;
}
.bg-work {
    background-color: #ec9700;
    margin-top: -60px;
    margin-left: 200px;
    background-image: url('../img/bg_work.png');
    background-repeat: no-repeat;
}